body{
    font-size: 16px;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-inter {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Back to top button */

.back-to-top {
    position: fixed;
    background: #25D366;
    color: #fff;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 65px;
    border-radius: 50%;
    left: 50px;
    right: auto !important;
    bottom: 20px;
    font-weight:400;
    z-index: 99;
    -webkit-box-shadow: 3px 4px 10px -4px rgba(0,0,0,0.6);
    -moz-box-shadow: 3px 4px 10px -4px rgba(0,0,0,0.6);
    box-shadow: 3px 4px 10px -4px rgba(0,0,0,0.6);
  }
  
  .back-to-top i {
    padding-top: 18px;
    color: #fff;
    font-size: 24px;
  }

  .back-to-top img {
      color: #fff;
      height: 42px;
      margin-bottom: 8px;
  }
  @media (max-width: 768px) {
    .back-to-top{
      right: -15px !important;
      left: auto !important;
      bottom: 70px;
    }
  }
  
  @keyframes shadow-pulse {
      0% {
          box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.3);
      }
      100% {
          box-shadow: 0 0 0 35px rgba(255, 255, 255, 0);
      }
  }

.hero{
    position: relative;
}
.hero-background{
    width: 100%;
    min-height: auto;
}
.hero-content{
    padding-top: 120px;
    position: absolute;
    min-height: 70%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
}
.hero-title{
    font-size: 5rem;
    font-weight: 700;
}
.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}
#mainNavbar{
    width: 100%;
    transition: .3s;
}
#mainNavbar .navbar-brand img{
    width: 130px;
    height: auto;
}
#mainNavbar .navbar-toggler{
    border: 0;
}
#mainNavbar .nav-link{
    font-weight: 500;
    padding-left: .85rem;
    padding-right: .85rem;
}
#mainNavbar .active {
    font-weight: 800
}
#mainNavbar.navbar-scrolled{
    background: rgb(255,255,255) !important;
    box-shadow: -1px 0 20px -10px rgba(32, 33, 39, 0.95);
    -webkit-box-shadow: -1px 0 20px -10px rgba(32, 33, 39, 0.95);
    -moz-box-shadow: -1px 0 20px -10px rgba(32, 33, 39, 0.95);
}
.hero-img-1{
    width:60%;
    height:auto;
    animation-name: shake;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    box-shadow: 40px 45px 45px -15px #5a5a5e71 !important
}
.hero-img-2{
    width:85%;
    height:auto;
    animation-name: shake;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    box-shadow: 40px 45px 45px -15px #5a5a5e71 !important;
    animation-direction: reverse;
}
@keyframes shake {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(0px);
    }
    100%{
        transform: translateY(20px);
    }
}
.br-1{
    border-radius:1rem;
}
.br-1-5{
    border-radius: 1.5rem;
}
.br-2{
    border-radius: 2rem;
}
.diagonal-line{
    position: relative;
}
.diagonal-line::after{
    content: "";
    position:absolute;
    top:0;
    right:45px;
    width: 15px;
    border-radius: 3px;
    height: 100%;
    background: #d2e3ef;
    transform: skew(20deg, 0deg)
}
.fw-500{
    font-weight: 500;
}
.ls-3{
    letter-spacing: 3px
}
.ls-10{
    letter-spacing: 10px
}
section{
    position: relative;
}
.bg-gradient-blue{
    background: rgb(24,58,92);
    background: linear-gradient(305deg, rgb(58 26 153) 30%, rgb(18 60 137) 100%);
}
.z-3{
    position: relative;
    z-index: 3;
}

/* Section */
.section-60{
    padding-top: 60px;
    padding-bottom: 60px;
}
.section-80{
    padding-top: 80px;
    padding-bottom: 80px;
}
.section-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-120{
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-150{
    padding-top: 150px;
    padding-bottom: 150px;
}

/* Swiper Container */
.swiper-streaming-platform{ 
    width:100%;
    overflow:hidden
}

/* Feather */
.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
.feather-filled{
    fill: currentColor;
}
.feather-10{
    width: 10px;
    height: 10px;
}
.feather-12{
    width: 12px;
    height: 12px;
}
.feather-14{
    width: 14px;
    height: 14px;
}
.feather-16{
    width: 16px;
    height: 16px;
}

#container {
    width: 100%;
    margin: 2em auto;
}
.cols {
    -moz-column-count:3;
    -moz-column-gap: 20px;
    -moz-column-width: 30%;
    -webkit-column-count:3;
    -webkit-column-gap: 20px;
    -webkit-column-width: 30%;
    column-count: 3;
    column-gap: 20px;
    column-width: 30%;
}
.box {
    margin-bottom: 20px;
    position: relative;
}
.box.one {
    height: 200px;
}
.box.two {
    height: 400px;
}
.box.three {
    height: 350px;
}
.box.four {
    height: 300px;
}
.box.five {
    height: 400px;
}
.box.six {
    height: 200px;
}
.masonry-img{ 
    object-fit: cover;
    height:100%;
    width:100%;
    border-radius: .5rem;
}

.ribbon {
    transform: scale(0.7) translate(-28px, -28px);
    width: 157px;
    height: 149px;
    overflow: hidden;
    position: absolute;
}

.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #b9a329;
}

.ribbon span {
    position: absolute;
    z-index: 4;
    display: block;
    width: 243px;
    padding: 15px 0;
    background-color: #dfd21f;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #fff;
    font: 700 16px/1 'Inter', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;
}

.ribbon-top-left {
    top: -10px;
    left: -10px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.ribbon-top-left::before {
    top: 0;
    right: 9px;
}

.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}

.ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}

#facilities img{
    height: 60px;
    width: auto;
}
.height-80-xs{
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .hero-subtitle{
        font-size: 1.2rem;
    }
    .hero-title{
        font-size: 3rem;
    }
    .hero{
        overflow: hidden;
        height: 90vh;
    }
    .hero-content{
        height: 90vh;
        padding-top: 0px;
    }
    .hero-background{
        height: 100%;
        width: auto;
    }
    .btn-lg{
        font-size: 1rem;
        padding: .65rem 1.25rem;
    }
    .btn-lg svg{
        width: 20px;
        height: 20px;
    }
    .cols {
        -moz-column-count:2;
        -moz-column-gap: 16px;
        -moz-column-width: 30%;
        -webkit-column-count:2;
        -webkit-column-gap: 16px;
        -webkit-column-width: 30%;
        column-count: 2;
        column-gap: 16px;
        column-width: 30%;
    }
    .box {
        margin-bottom: 16px;
        position: relative;
    }
    .box.one {
        height: 150px;
    }
    .box.two {
        height: 250px;
    }
    .box.three {
        height: 180px;
    }
    .box.four {
        height: 200px;
    }
    .box.five {
        height: 250px;
    }
    .box.six {
        height: 130px;
    }
    #facilities img{
        height: 40px;
        width:auto;
    }
    .height-80-xs{
        height: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #mainNavbar .navbar-brand img{
        width:90px;
        height: auto;
    }
    #navbarNav{
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    #navbarNav .btn-primary{
        margin-top: 2rem;
    }
}
